.lmj-cart {
	color: white;
	background-color: #31b572;
	padding: 32px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 300px;
}

.lmj-cart textarea {
	min-height: 1.5em;
	resize:vertical;
}

.lmj-cart #add-plant {
	background-color: #31b572;
	color: white;
	border: none;
	padding: 8px;
	margin-top: 8px;
	cursor: pointer;

}

.lmj-cart-add-button {
	margin-left: 32px;
	cursor: pointer;
}

.lmj-cart-toggle-button {
	background: none;
	outline: none;
	border: none;
	font-weight: 600;
	cursor: pointer;
	align-self: self-start;
	padding: 0;
	color: white;
	align-self: flex-end;
}

.lmj-cart-closed {
	padding: 32px;
	padding-right: 10px;
	padding-left: 10px;
	width: 120px;
}

.lmj-cart-closed > button {
	color: black;
}
